.App {
  text-align: center;
}

.todo-item {
  border-style: solid;
  height: 100px;
  width: 100px;
  margin: auto;
}

#todo-screen {
  margin: auto;
  width: 500px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  border-style: solid;
}

#todo-setup {
  margin: auto;
  width: 500px;
  justify-content: space-evenly;
  border-style: solid;
}

#add-todo {
  margin: auto;
  width: 500px;
  height: 70px;
  justify-content: space-evenly;
  border-style: solid;
  position: relative;
  text-align: center;
}

#input-todo {
  padding: 5px;
  height: 30px;
  width: 75%;
  border: none;
  margin: auto;
  margin-top: 15px;
  font-size: 100%;
}

.todo-item {
  margin: auto;
  height: 50px;
  width: 500px;
  justify-content: space-evenly;
  display: flex;
}

.todo-item[value^=true]{
  opacity: 50%;
}

.todo-text {
  height: 100%;
  text-align: center;
  margin-top: 10px;
  width: 50%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
}

.actionButton {
  margin: auto;
  float: left;
  height: 40px;
  width: 65px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
}


#submit {
  margin: auto;
  height: 40px;
  width: 65px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
}

.todo-text[value^=true] {
  text-decoration: line-through;
  opacity: 50%;
}
